@(message: String)

    @main("Welcome to Play") {


        <script>
        angular.module('footbel', ['ui.bootstrap'])
        .controller('mainController', function($scope, $http) {
            delete $scope.alert;
            $scope.importing = {};

            $scope.import = function(type) {
                $scope.importing[type] = true;

                $http.post('/import/' + type).then(function(response) {
                    $scope.alert = {
                        time: response.data,
                        type: type
                    };
                    $scope.importing[type] = false;

                });

            };
        }).directive('ranking', function ($http) {
        return {
          restrict: 'EA',
          scope: {
            division: '@@division'
          },
          templateUrl: 'assets/templates/ranking.tpl.html',
          controller: function ($scope) {
            $scope.rankings = [];

            $http.get('/rankings/' + $scope.division)
              .then(function (response) {
                $scope.rankings = response.data;
                $scope.ready = true;
              });
          }
        }

      });

        $(function() {
            angular.bootstrap(document, ['footbel']);
        });

    </script>

        <div class="container" ng-controller="mainController">

            <div class="row">

                <div class="col-md-12">
                    <h2>FootBel</h2>

                    <div class="alert alert-success" role="alert" ng-show="alert">
                        <span ng-bind="'Importing ' + alert.type + ' took: ' + alert.time +'ms'"></span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-default" ng-click="import('rankings')" ng-disabled="importing['rankings']">
                            <i class="fa fa-circle-o-notch fa-spin" ng-show="importing['rankings']"></i>
                            Import rankings
                        </button>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click="import('matches')" ng-disabled="importing['matches']">
                            <i class="fa fa-circle-o-notch fa-spin" ng-show="importing['matches']"></i>
                            Import matches
                        </button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Ranking division 1</h2>
                    <ranking division="1"></ranking>

                    <h2>Ranking division 2</h2>
                    <ranking division="2"></ranking>
                </div>

            </div>

        </div>

    }
